<% include partials/header %>
<div class="container-fluid">
	<h1 class="h3 mb-4 text-gray-800 text-center">
		Welcome!
	</h1>
	<div class="row m-3 mt-3">
		<div class="col text-center">
			<a href="/show" class="btn btn-light border border-dark w-25">View Documents</a>
		</div>
	</div>
	<div class="row m-3">
		<div class="col text-center">
			<a href="/addStudent" class="btn btn-light border border-dark w-25">Add Student</a>
		</div>
	</div>
	<div class="row m-3">
		<div class="col text-center">
			<a href="/edit" class="btn btn-light border border-dark w-25">Edit Student</a>
		</div>
	</div>
	<div class="row m-3">
		<div class="col text-center">
			<a href="/submitDocuments" class="btn btn-light border border-dark w-25">Submit Document</a>
		</div>
	</div>
	<div class="row m-3">
		<div class="col text-center">
			<a href="" class="btn btn-light border border-dark w-25">Pending Documents</a>
		</div>
	</div>
	<div class="row m-3">
		<div class="col text-center">
			<a href="" class="btn btn-light border border-dark w-25">Refund of Fees</a>
		</div>
	</div>
	<div class="row m-3">
		<div class="col text-center">
			<a href="" class="btn btn-light border border-dark w-25">Delete Student</a>
		</div>
	</div>
</div>
<% include partials/footer %>