<% include partials/header %>

<div class="container mt-4 w-50">
	<form>
		<div class = "form-group">
			<label >ID</label>
			<input  class = "form-control" id = "userID" placeholder = "Enter ID">
		</div>
		<div class = "form-group">
			<label >Password</label>
			<input type = "password" class = "form-control" id = "userPassword" placeholder= "Password">
		</div>
		<div class="container">
			<div class="row">
				<div class="col text-center">
					<button class="btn btn-primary">Submit</button>
				</div>
			</div>
		</div>
	</form>
</div>


<% include partials/footer %>	