<html>
	<head>
		<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
		
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
		
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<title>Student Info</title>
	</head>
	<body>
		<nav class="navbar bg-dark">
			<a class="navbar-brand text-light" href='/'>
				<img src="https://image3.mouthshut.com/images/imagesp/925718789s.jpg" width="30" height="30" class="d-inline-block align-top" alt="">
				Home
			</a>
		</nav>
		<div class="container m-5">
			<h1>
				Studnet Info here
			</h1>
		</div>

		<div class="container">
			<div class="container text-center mt-5">
				<h1>
					Edit Documents
				</h1>
			</div>

			<form action="/" method="POST">
				<div class="container my-5">
					<table class="table table-borderless">
						<thead>
							<tr class="my-5">
								<th scope="col">Name</th>
								<th scope="col">Original Certificate</th>
								<th scope="col">Photocopy</th>
								<th scope="col">Last Date</th>
								<th scope="col">Issue Date</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="py-4 form-control align-middle font-weight-bold">X-Marksheet</td>
								<td class="py-4">
									<select class="form-control">
										<option>Yes(1)</option>
										<option>Yes(2)</option>
										<option>Pending</option>
										<option>Issued(1)</option>
										<option>Issued(2)</option>
										<option>NA</option>
									</select>
								</td>
								<td class="py-4">
									<select class="form-control">
										<option>Yes(1)</option>
										<option>Yes(2)</option>
										<option>Pending</option>
										<option>Issued(1)</option>
										<option>Issued(2)</option>
										<option>NA</option>
									</select>
								</td>
								<td class="py-4">
                    				<input type='date' class="form-control" />
								</td>
								<td class="py-4"><input type="date" class="form-control"></td>
							</tr>
							<tr>
								<td class="py-4 form-control align-middle font-weight-bold">XII-Marksheet</td>
								<td class="py-4">
									<select class="form-control">
										<option>Yes(1)</option>
										<option>Yes(2)</option>
										<option>Pending</option>
										<option>Issued(1)</option>
										<option>Issued(2)</option>
										<option>NA</option>
									</select>
								</td>
								<td class="py-4">
									<select class="form-control">
										<option>Yes(1)</option>
										<option>Yes(2)</option>
										<option>Pending</option>
										<option>Issued(1)</option>
										<option>Issued(2)</option>
										<option>NA</option>
									</select>
								</td>
								<td class="py-4">
                    				<input type='date' class="form-control" />
								</td>
								<td class="py-4"><input type="date" class="form-control"></td>
							</tr>
							<tr>
								<td class="py-4 form-control align-middle font-weight-bold">Diploma/B.Sc. Marksheet</td>
								<td class="py-4">
									<select class="form-control">
										<option>Yes(1)</option>
										<option>Yes(2)</option>
										<option>Pending</option>
										<option>Issued(1)</option>
										<option>Issued(2)</option>
										<option>NA</option>
									</select>
								</td>
								<td class="py-4">
									<select class="form-control">
										<option>Yes(1)</option>
										<option>Yes(2)</option>
										<option>Pending</option>
										<option>Issued(1)</option>
										<option>Issued(2)</option>
										<option>NA</option>
									</select>
								</td>
								<td class="py-4">
                    				<input type='date' class="form-control" />
								</td>
								<td class="py-4"><input type="date" class="form-control"></td>
							</tr>
							<tr>
								<td class="py-4 form-control align-middle font-weight-bold">Provisional Certificate of Diploma/B.Sc.</td>
								<td class="py-4">
									<select class="form-control">
										<option>Yes(1)</option>
										<option>Yes(2)</option>
										<option>Pending</option>
										<option>Issued(1)</option>
										<option>Issued(2)</option>
										<option>NA</option>
									</select>
								</td>
								<td class="py-4">
									<select class="form-control">
										<option>Yes(1)</option>
										<option>Yes(2)</option>
										<option>Pending</option>
										<option>Issued(1)</option>
										<option>Issued(2)</option>
										<option>NA</option>
									</select>
								</td>
								<td class="py-4">
                    				<input type='date' class="form-control" />
								</td>
								<td class="py-4"><input type="date" class="form-control"></td>
							</tr>
							<tr>
								<td class="py-4 form-control align-middle font-weight-bold">Migration Certificate</td>
								<td class="py-4">
									<select class="form-control">
										<option>Yes(1)</option>
										<option>Yes(2)</option>
										<option>Pending</option>
										<option>Issued(1)</option>
										<option>Issued(2)</option>
										<option>NA</option>
									</select>
								</td>
								<td class="py-4">
									<select class="form-control">
										<option>Yes(1)</option>
										<option>Yes(2)</option>
										<option>Pending</option>
										<option>Issued(1)</option>
										<option>Issued(2)</option>
										<option>NA</option>
									</select>
								</td>
								<td class="py-4">
                    				<input type='date' class="form-control" />
								</td>
								<td class="py-4"><input type="date" class="form-control"></td>
							</tr>
							<tr>
								<td class="py-4 form-control align-middle font-weight-bold">Certificate of Reserved Category</td>
								<td class="py-4">
									<input type="text" readonly class="form-control-plaintext text-center font-weight-bold" value="NA">
								</td>
								<td class="py-4">
									<select class="form-control">
										<option>Yes(1)</option>
										<option>Yes(2)</option>
										<option>Pending</option>
										<option>Issued(1)</option>
										<option>Issued(2)</option>
										<option>NA</option>
									</select>
								</td>
								<td class="py-4">
                    				<input type='date' class="form-control" />
								</td>
								<td class="py-4"><input type="date" class="form-control"></td>
							</tr>
							<tr>
								<td class="py-4 form-control align-middle font-weight-bold">Certificate of Kashmiri Migrants</td>
								<td class="py-4">
									<input type="text" readonly class="form-control-plaintext text-center font-weight-bold" value="NA">
								</td>
								<td class="py-4">
									<select class="form-control">
										<option>Yes(1)</option>
										<option>Yes(2)</option>
										<option>Pending</option>
										<option>Issued(1)</option>
										<option>Issued(2)</option>
										<option>NA</option>
									</select>
								</td>
								<td class="py-4">
                    				<input type='date' class="form-control" />
								</td>
								<td class="py-4"><input type="date" class="form-control"></td>
							</tr>
							<tr>
								<td class="py-4 form-control align-middle font-weight-bold">Certificate of PwD</td>
								<td class="py-4">
									<input type="text" readonly class="form-control-plaintext text-center font-weight-bold" value="NA">
								</td>
								<td class="py-4">
									<select class="form-control">
										<option>Yes(1)</option>
										<option>Yes(2)</option>
										<option>Pending</option>
										<option>Issued(1)</option>
										<option>Issued(2)</option>
										<option>NA</option>
									</select>
								</td>
								<td class="py-4">
                    				<input type='date' class="form-control" />
								</td>
								<td class="py-4"><input type="date" class="form-control"></td>
							</tr>
							<tr>
								<td class="py-4 form-control align-middle font-weight-bold">Certificate of Reserved EWS Category</td>
								<td class="py-4">
									<input type="text" readonly class="form-control-plaintext text-center font-weight-bold" value="NA">
								</td>
								<td class="py-4">
									<select class="form-control">
										<option>Yes(1)</option>
										<option>Yes(2)</option>
										<option>Pending</option>
										<option>Issued(1)</option>
										<option>Issued(2)</option>
										<option>NA</option>
									</select>
								</td>
								<td class="py-4">
                    				<input type='date' class="form-control" />
								</td>
								<td class="py-4"><input type="date" class="form-control"></td>
							</tr>
							<tr>
								<td class="py-4 form-control align-middle font-weight-bold">Aadhar Card</td>
								<td class="py-4">
									<input type="text" readonly class="form-control-plaintext text-center font-weight-bold" value="NA">
								</td>
								<td class="py-4">
									<select class="form-control">
										<option>Yes(1)</option>
										<option>Yes(2)</option>
										<option>Pending</option>
										<option>Issued(1)</option>
										<option>Issued(2)</option>
										<option>NA</option>
									</select>
								</td>
								<td class="py-4">
                    				<input type='date' class="form-control" />
								</td>
								<td class="py-4"><input type="date" class="form-control"></td>
							</tr>
							<tr>
								<td class="py-4 form-control align-middle font-weight-bold">Transfer Certificate(Regular Degree)</td>
								<td class="py-4">
									<select class="form-control">
										<option>Yes(1)</option>
										<option>Yes(2)</option>
										<option>Pending</option>
										<option>Issued(1)</option>
										<option>Issued(2)</option>
										<option>NA</option>
									</select>
								</td>
								<td class="py-4">
									<select class="form-control">
										<option>Yes(1)</option>
										<option>Yes(2)</option>
										<option>Pending</option>
										<option>Issued(1)</option>
										<option>Issued(2)</option>
										<option>NA</option>
									</select>
								</td>
								<td class="py-4">
                    				<input type='date' class="form-control" />
								</td>
								<td class="py-4"><input type="date" class="form-control"></td>
							</tr>
							<tr>
								<td class="py-4 form-control align-middle font-weight-bold">Character Certificate(Regular Degree)</td>
								<td class="py-4">
									<select class="form-control">
										<option>Yes(1)</option>
										<option>Yes(2)</option>
										<option>Pending</option>
										<option>Issued(1)</option>
										<option>Issued(2)</option>
										<option>NA</option>
									</select>
								</td>
								<td class="py-4">
									<select class="form-control">
										<option>Yes(1)</option>
										<option>Yes(2)</option>
										<option>Pending</option>
										<option>Issued(1)</option>
										<option>Issued(2)</option>
										<option>NA</option>
									</select>
								</td>
								<td class="py-4">
                    				<input type='date' class="form-control" />
								</td>
								<td class="py-4"><input type="date" class="form-control"></td>
							</tr>
							<tr>
								<td class="py-4 form-control align-middle font-weight-bold">Domicile Certificate</td>
								<td class="py-4">
									<input type="text" readonly class="form-control-plaintext text-center font-weight-bold" value="NA">
								</td>
								<td class="py-4">
									<select class="form-control">
										<option>Yes(1)</option>
										<option>Yes(2)</option>
										<option>Pending</option>
										<option>Issued(1)</option>
										<option>Issued(2)</option>
										<option>NA</option>
									</select>
								</td>
								<td class="py-4">
                    				<input type='date' class="form-control" />
								</td>
								<td class="py-4"><input type="date" class="form-control"></td>
							</tr>
							<tr>
								<td class="py-4 form-control align-middle font-weight-bold">LEEP Application-cum-Option Form</td>
								<td class="py-4">
									<input type="text" readonly class="form-control-plaintext text-center font-weight-bold" value="NA">
								</td>
								<td class="py-4">
									<select class="form-control">
										<option>Yes(1)</option>
										<option>Yes(2)</option>
										<option>Pending</option>
										<option>Issued(1)</option>
										<option>Issued(2)</option>
										<option>NA</option>
									</select>
								</td>
								<td class="py-4">
                    				<input type='date' class="form-control" />
								</td>
								<td class="py-4"><input type="date" class="form-control"></td>
							</tr>
							<tr>
								<td class="py-4 form-control align-middle font-weight-bold">LEEP Seat Allotment Letter</td>
								<td class="py-4">
									<input type="text" readonly class="form-control-plaintext text-center font-weight-bold" value="NA">
								</td>
								<td class="py-4">
									<select class="form-control">
										<option>Yes(1)</option>
										<option>Yes(2)</option>
										<option>Pending</option>
										<option>Issued(1)</option>
										<option>Issued(2)</option>
										<option>NA</option>
									</select>
								</td>
								<td class="py-4">
                    				<input type='date' class="form-control" />
								</td>
								<td class="py-4"><input type="date" class="form-control"></td>
							</tr>
							<tr>
								<td class="py-4 form-control align-middle font-weight-bold">LEEP Medical Fitness Certificate</td>
								<td class="py-4">
									<select class="form-control">
										<option>Yes(1)</option>
										<option>Yes(2)</option>
										<option>Pending</option>
										<option>Issued(1)</option>
										<option>Issued(2)</option>
										<option>NA</option>
									</select>
								</td>
								<td class="py-4">
									<select class="form-control">
										<option>Yes(1)</option>
										<option>Yes(2)</option>
										<option>Pending</option>
										<option>Issued(1)</option>
										<option>Issued(2)</option>
										<option>NA</option>
									</select>
								</td>
								<td class="py-4">
                    				<input type='date' class="form-control" />
								</td>
								<td class="py-4"><input type="date" class="form-control"></td>
							</tr>
							<tr>
								<td class="py-4 form-control align-middle font-weight-bold">LEEP Merit Card</td>
								<td class="py-4">
									<input type="text" readonly class="form-control-plaintext text-center font-weight-bold" value="NA">
								</td>
								<td class="py-4">
									<select class="form-control">
										<option>Yes(1)</option>
										<option>Yes(2)</option>
										<option>Pending</option>
										<option>Issued(1)</option>
										<option>Issued(2)</option>
										<option>NA</option>
									</select>
								</td>
								<td class="py-4">
                    				<input type='date' class="form-control" />
								</td>
								<td class="py-4"><input type="date" class="form-control"></td>
							</tr>
							<tr>
								<td class="py-4 form-control align-middle font-weight-bold">Anti Ragging Affidavit by Student</td>
								<td class="py-4">
									<input type="text" readonly class="form-control-plaintext text-center font-weight-bold" value="NA">
								</td>
								<td class="py-4">
									<select class="form-control">
										<option>Yes(1)</option>
										<option>Yes(2)</option>
										<option>Pending</option>
										<option>Issued(1)</option>
										<option>Issued(2)</option>
										<option>NA</option>
									</select>
								</td>
								<td class="py-4">
                    				<input type='date' class="form-control" />
								</td>
								<td class="py-4"><input type="date" class="form-control"></td>
							</tr>
							<tr>
								<td class="py-4 form-control align-middle font-weight-bold">Anti Raggin Affidavit by Parent(s)</td>
								<td class="py-4">
									<input type="text" readonly class="form-control-plaintext text-center font-weight-bold" value="NA">
								</td>
								<td class="py-4">
									<select class="form-control">
										<option>Yes(1)</option>
										<option>Yes(2)</option>
										<option>Pending</option>
										<option>Issued(1)</option>
										<option>Issued(2)</option>
										<option>NA</option>
									</select>
								</td>
								<td class="py-4">
                    				<input type='date' class="form-control" />
								</td>
								<td class="py-4"><input type="date" class="form-control"></td>
							</tr>
							<tr>
								<td class="py-4 form-control align-middle font-weight-bold">Passport-size Colored Photographs</td>
								<td class="py-4">
									<select class="form-control">
										<option>Yes(1)</option>
										<option>Yes(2)</option>
										<option>Pending</option>
										<option>Issued(1)</option>
										<option>Issued(2)</option>
										<option>NA</option>
									</select>
								</td>
								<td class="py-4">
									<select class="form-control">
										<option>Yes(1)</option>
										<option>Yes(2)</option>
										<option>Pending</option>
										<option>Issued(1)</option>
										<option>Issued(2)</option>
										<option>NA</option>
									</select>
								</td>
								<td class="py-4">
                    				<input type='date' class="form-control" />
								</td>
								<td class="py-4"><input type="date" class="form-control"></td>
							</tr>
							<tr>
								<td class="py-4 form-control align-middle font-weight-bold">Income Certificate by Parent(s)</td>
								<td class="py-4">
									<input type="text" readonly class="form-control-plaintext text-center font-weight-bold" value="NA">
								</td>
								<td class="py-4">
									<select class="form-control">
										<option>Yes(1)</option>
										<option>Yes(2)</option>
										<option>Pending</option>
										<option>Issued(1)</option>
										<option>Issued(2)</option>
										<option>NA</option>
									</select>
								</td>
								<td class="py-4">
                    				<input type='date' class="form-control" />
								</td>
								<td class="py-4"><input type="date" class="form-control"></td>
							</tr>
							<tr>
								<td class="py-4 form-control align-middle font-weight-bold">LEEP Upward Seat Allotment Letter</td>
								<td class="py-4">
									<input type="text" readonly class="form-control-plaintext text-center font-weight-bold" value="NA">
								</td>
								<td class="py-4">
									<select class="form-control">
										<option>Yes(1)</option>
										<option>Yes(2)</option>
										<option>Pending</option>
										<option>Issued(1)</option>
										<option>Issued(2)</option>
										<option>NA</option>
									</select>
								</td>
								<td class="py-4">
                    				<input type='date' class="form-control" />
								</td>
								<td class="py-4"><input type="date" class="form-control"></td>
							</tr>
							<tr>
								<td class="py-4 form-control align-middle font-weight-bold">Fee Receipt of earlier College Allotment</td>
								<td class="py-4">
									<select class="form-control">
										<option>Yes(1)</option>
										<option>Yes(2)</option>
										<option>Pending</option>
										<option>Issued(1)</option>
										<option>Issued(2)</option>
										<option>NA</option>
									</select>
								</td>
								<td class="py-4">
									<select class="form-control">
										<option>Yes(1)</option>
										<option>Yes(2)</option>
										<option>Pending</option>
										<option>Issued(1)</option>
										<option>Issued(2)</option>
										<option>NA</option>
									</select>
								</td>
								<td class="py-4">
                    				<input type='date' class="form-control" />
								</td>
								<td class="py-4"><input type="date" class="form-control"></td>
							</tr>
							<tr>
								<td class="py-4 form-control align-middle font-weight-bold">Other</td>
								<td class="py-4">
									<select class="form-control">
										<option>Yes(1)</option>
										<option>Yes(2)</option>
										<option>Pending</option>
										<option>Issued(1)</option>
										<option>Issued(2)</option>
										<option>NA</option>
									</select>
								</td>
								<td class="py-4">
									<select class="form-control">
										<option>Yes(1)</option>
										<option>Yes(2)</option>
										<option>Pending</option>
										<option>Issued(1)</option>
										<option>Issued(2)</option>
										<option>NA</option>
									</select>
								</td>
								<td class="py-4">
                    				<input type='date' class="form-control" />
								</td>
								<td class="py-4"><input type="date" class="form-control"></td>
							</tr>
						</tbody>
					</table>
					<button type="submit" class="btn btn-primary w-50 d-block mx-auto" >Submit</button>
				</div>
			</form>
		</div>
	</body>
</html>