<html>
	<head>
		<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
		
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
		
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		
		<script>
//			function to set today's date in the submission date corresponding to the selected row
			function setDate(user,val) {
				if (val=='y'){

    			var today = new Date();
				var dd = String(today.getDate()).padStart(2, '0');
				var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
				var yyyy = today.getFullYear();
				today = yyyy + '-' + mm + '-' + dd;
				document.getElementById(user).value = today;
				}
				
				else if(val=='i'){
					user=user+"1";
					var today = new Date();
				var dd = String(today.getDate()).padStart(2, '0');
				var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
				var yyyy = today.getFullYear();
				today = yyyy + '-' + mm + '-' + dd;
				document.getElementById(user).value = today;
					
						
						}
				else 
					{
						document.getElementById(user).value = 1999;
						var user1=user+"1";
						document.getElementById(user1).value = 1999;
					}
				}
				
		</script>
		
		<title>Student Info</title>
	</head>
	<body>
		<nav class="navbar bg-dark">
			<a class="navbar-brand text-light" href='/'>
				<img src="https://image3.mouthshut.com/images/imagesp/925718789s.jpg" width="30" height="30" class="d-inline-block align-top" alt="">
				Home
			</a>
		</nav>
		<div class="container m-5">
			<h1>
				Studnet Info here
			</h1>
		</div>

		<div class="container">
			<div class="container text-center mt-5">
				<h1>
					Edit Documents
				</h1>
			</div>

			<form action="/submitDocument/<%= id %>" method="POST">
				<div class="container my-5">
					<table class="table table-borderless">
						<thead>
							<tr class="my-5">
								<th scope="col">Name</th>
								<th scope="col">Original Certificate</th>
								<th scope="col">Photocopy</th>
								<th scope="col">Submission Date</th>
								<th scope="col">Last Date</th>
								<th scope="col">Issue Date</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="py-4 form-control align-middle font-weight-bold">X-Marksheet</td>
								<td class="py-4">
									<select class="form-control" onchange="setDate('xmsd',this.value)">
										<option value="n">Choose</option>
										<option value="y">Yes(1)</option>
										<option value="y">Yes(2)</option>
										<option value="n">Pending</option>
										<option value="i">Issued(1)</option>
										<option value="i">Issued(2)</option>
										<option value="n">NA</option>
									</select>
								</td>
								<td class="py-4">
									<select class="form-control" onchange="setDate('xmsd',this.value )">
										<option value="n">Choose</option>
										<option value="y">Yes(1)</option>
										<option value="y">Yes(2)</option>
										<option value="n">Pending</option>
										<option value="i">Issued(1)</option>
										<option value="i">Issued(2)</option>
										<option value="n">NA</option>
									</select>
								</td>
								<td class="py-4"><input type='date' id="xmsd" class="form-control" /></td>
								<td class="py-4"><input type='date' class="form-control" /></td>
								<td class="py-4"><input type="date" id="xmsd1" class="form-control"></td>
							</tr>
							<tr>
								<td class="py-4 form-control align-middle font-weight-bold">XII-Marksheet</td>
								<td class="py-4">
									<select class="form-control" onchange="setDate('xiimsd',this.value)">
										<option value="n">Choose</option>
										<option value="y">Yes(1)</option>
										<option value="y">Yes(2)</option>
										<option value="n">Pending</option>
										<option value="i">Issued(1)</option>
										<option value="i">Issued(2)</option>
										<option value="n">NA</option>
									</select>
								</td>
								<td class="py-4">
									<select class="form-control" onchange="setDate('xiimsd',this.value)">
										<option value="n">Choose</option>
										<option value="y">Yes(1)</option>
										<option value="y">Yes(2)</option>
										<option value="n">Pending</option>
										<option value="i">Issued(1)</option>
										<option value="i">Issued(2)</option>
										<option value="n">NA</option>
									</select>
								</td>
								<td class="py-4"><input type='date' id='xiimsd' class="form-control" /></td>
								<td class="py-4"><input type='date' class="form-control" /></td>
								<td class="py-4"><input type="date" id='xiimsd1' class="form-control"></td>
							</tr>
							<tr>
								<td class="py-4 form-control align-middle font-weight-bold">Diploma/B.Sc. Marksheet</td>
								<td class="py-4">
									<select class="form-control" onchange="setDate('dmsd',this.value)">
										<option value="n">Choose</option>
										<option value="y">Yes(1)</option>
										<option value="y">Yes(2)</option>
										<option value="n">Pending</option>
										<option value="i">Issued(1)</option>
										<option value="i">Issued(2)</option>
										<option value="n">NA</option>
									</select>
								</td>
								<td class="py-4">
									<select class="form-control" onchange="setDate('dmsd',this.value)">
										<option value="n">Choose</option>
										<option value="y">Yes(1)</option>
										<option value="y">Yes(2)</option>
										<option value="n">Pending</option>
										<option value="i">Issued(1)</option>
										<option value="i">Issued(2)</option>
										<option value="n">NA</option>
									</select>
								</td>
								<td class="py-4"><input type='date' id='dmsd' class="form-control" /></td>
								<td class="py-4"><input type='date' class="form-control" /></td>
								<td class="py-4"><input type="date" id='dmsd1' class="form-control"></td>
							</tr>
							<tr>
								<td class="py-4 form-control align-middle font-weight-bold">Provisional Certificate of Diploma/B.Sc.</td>
								<td class="py-4">
									<select class="form-control" onchange="setDate('pcodsd',this.value)">
										<option value="n">Choose</option>
										<option value="y">Yes(1)</option>
										<option value="y">Yes(2)</option>
										<option value="n">Pending</option>
										<option value="i">Issued(1)</option>
										<option value="i">Issued(2)</option>
										<option value="n">NA</option>
									</select>
								</td>
								<td class="py-4">
									<select class="form-control" onchange="setDate('pcodsd',this.value)">
										<option value="n">Choose</option>
										<option value="y">Yes(1)</option>
										<option value="y">Yes(2)</option>
										<option value="n">Pending</option>
										<option value="i">Issued(1)</option>
										<option value="i">Issued(2)</option>
										<option value="n">NA</option>
									</select>
								</td>
								<td class="py-4"><input type='date' id='pcodsd' class="form-control" /></td>
								<td class="py-4"><input type='date' class="form-control" /></td>
								<td class="py-4"><input type="date" id='pcodsd1' class="form-control"></td>
							</tr>
							<tr>
								<td class="py-4 form-control align-middle font-weight-bold">Migration Certificate</td>
								<td class="py-4">
									<select class="form-control" onchange="setDate('mcsd',this.value)">
										<option value="n">Choose</option>
										<option value="y">Yes(1)</option>
										<option value="y">Yes(2)</option>
										<option value="n">Pending</option>
										<option value="i">Issued(1)</option>
										<option value="i">Issued(2)</option>
										<option value="n">NA</option>
									</select>
								</td>
								<td class="py-4">
									<select class="form-control" onchange="setDate('mcsd',this.value)">
										<option value="n">Choose</option>
										<option value="y">Yes(1)</option>
										<option value="y">Yes(2)</option>
										<option value="n">Pending</option>
										<option value="i">Issued(1)</option>
										<option value="i">Issued(2)</option>
										<option value="n">NA</option>
									</select>
								</td>
								<td class="py-4"><input type='date' id='mcsd' class="form-control" /></td>
								<td class="py-4"><input type='date' class="form-control" /></td>
								<td class="py-4"><input type="date" id='mcsd1' class="form-control"></td>
							</tr>
							<tr>
								<td class="py-4 form-control align-middle font-weight-bold">Certificate of Reserved Category</td>
								<td class="py-4">
									<select class="form-control" onchange="setDate('corcsd',this.value)">
										<option value="n">Choose</option>
										<option value="y">Yes(1)</option>
										<option value="y">Yes(2)</option>
										<option value="n">Pending</option>
										<option value="i">Issued(1)</option>
										<option value="i">Issued(2)</option>
										<option value="n">NA</option>
									</select>
								</td>
								<td class="py-4">
									<select class="form-control" onchange="setDate('corcsd',this.value)">
										<option value="n">Choose</option>
										<option value="y">Yes(1)</option>
										<option value="y">Yes(2)</option>
										<option value="n">Pending</option>
										<option value="i">Issued(1)</option>
										<option value="i">Issued(2)</option>
										<option value="n">NA</option>
									</select>
								</td>
								<td class="py-4"><input type='date' id='corcsd' class="form-control" /></td>
								<td class="py-4"><input type='date' class="form-control" /></td>
								<td class="py-4"><input type="date" id='corcsd1' class="form-control"></td>
							</tr>
							<tr>
								<td class="py-4 form-control align-middle font-weight-bold">Certificate of Kashmiri Migrants</td>
								<td class="py-4">
									<input type="text" readonly class="form-control-plaintext text-center font-weight-bold" value="NA">
								</td>
								<td class="py-4">
									<select class="form-control" onchange="setDate('cokmsd',this.value)">
									<option value="n">Choose</option>
										<option value="n">Choose</option>
										<option value="y">Yes(1)</option>
										<option value="y">Yes(2)</option>
										<option value="n">Pending</option>
										<option value="i">Issued(1)</option>
										<option value="i">Issued(2)</option>
										<option value="n">NA</option>
									</select>
								</td>
								<td class="py-4"><input type='date' id='cokmsd' class="form-control" /></td>
								<td class="py-4"><input type='date' class="form-control" />
								</td><td class="py-4"><input type="date" class="form-control"></td>
							</tr>
							<tr>
								<td class="py-4 form-control align-middle font-weight-bold">Certificate of PwD</td>
								<td class="py-4">
									<input type="text" readonly class="form-control-plaintext text-center font-weight-bold" value="NA">
								</td>
								<td class="py-4">
									<select class="form-control" onchange="setDate('copsd',this.value)">
										<option value="n">Choose</option>
										<option value="y">Yes(1)</option>
										<option value="y">Yes(2)</option>
										<option value="n">Pending</option>
										<option value="i">Issued(1)</option>
										<option value="i">Issued(2)</option>
										<option value="n">NA</option>
									</select>
								</td>
								<td class="py-4"><input type='date' id='copsd' class="form-control" /></td>
								<td class="py-4"><input type='date' class="form-control" />
								</td><td class="py-4"><input type="date" id='copsd1' class="form-control"></td>
							</tr>
							<tr>
								<td class="py-4 form-control align-middle font-weight-bold">Certificate of Reserved EWS Category</td>
								<td class="py-4">
									<input type="text" readonly class="form-control-plaintext text-center font-weight-bold" value="NA">
								</td>
								<td class="py-4">
									<select class="form-control" onchange="setDate('corecsd',this.value)">
										<option value="n">Choose</option>
										<option value="y">Yes(1)</option>
										<option value="y">Yes(2)</option>
										<option value="n">Pending</option>
										<option value="i">Issued(1)</option>
										<option value="i">Issued(2)</option>
										<option value="n">NA</option>
									</select>
								</td>
								<td class="py-4"><input type='date' id='corecsd' class="form-control" /></td>
								<td class="py-4"><input type='date' class="form-control" />
								</td><td class="py-4"><input type="date" id='corecsd1' class="form-control"></td>
							</tr>
							<tr>
								<td class="py-4 form-control align-middle font-weight-bold">Aadhar Card</td>
								<td class="py-4">
									<input type="text" readonly class="form-control-plaintext text-center font-weight-bold" value="NA">
								</td>
								<td class="py-4">
									<select class="form-control" onchange="setDate('acsd',this.value)">
									<option value="n">Choose</option>
										<option value="y">Yes(1)</option>
										<option value="y">Yes(2)</option>
										<option value="n">Pending</option>
										<option value="i">Issued(1)</option>
										<option value="i">Issued(2)</option>
										<option value="n">NA</option>
									</select>
								</td>
								<td class="py-4"><input type='date' id='acsd' class="form-control" /></td>
								<td class="py-4"><input type='date' class="form-control" />
								</td><td class="py-4"><input type="date" id='acsd1' class="form-control"></td>
							</tr>
							<tr>
								<td class="py-4 form-control align-middle font-weight-bold">Transfer Certificate(Regular Degree)</td>
								<td class="py-4">
									<select class="form-control" onchange="setDate('tcrdsd',this.value)">
										<option value="n">Choose</option>
										<option value="y">Yes(1)</option>
										<option value="y">Yes(2)</option>
										<option value="n">Pending</option>
										<option value="i">Issued(1)</option>
										<option value="i">Issued(2)</option>
										<option value="n">NA</option>
									</select>
								</td>
								<td class="py-4">
									<select class="form-control" onchange="setDate('tcrdsd',this.value)">
										<option value="n">Choose</option>
										<option value="y">Yes(1)</option>
										<option value="y">Yes(2)</option>
										<option value="n">Pending</option>
										<option value="i">Issued(1)</option>
										<option value="i">Issued(2)</option>
										<option value="n">NA</option>
									</select>
								</td>
								<td class="py-4"><input type='date' id='tcrdsd' class="form-control" /></td>
								<td class="py-4"><input type='date' class="form-control" /></td>
								<td class="py-4"><input type="date" id='tcrdsd1' class="form-control"></td>
							</tr>
							<tr>
								<td class="py-4 form-control align-middle font-weight-bold">Character Certificate(Regular Degree)</td>
								<td class="py-4">
									<select class="form-control" onchange="setDate('ccrdsd',this.value)">
										<option value="n">Choose</option>
										<option value="y">Yes(1)</option>
										<option value="y">Yes(2)</option>
										<option value="n">Pending</option>
										<option value="i">Issued(1)</option>
										<option value="i">Issued(2)</option>
										<option value="n">NA</option>
									</select>
								</td>
								<td class="py-4">
									<select class="form-control" onchange="setDate('ccrdsd',this.value)">
										<option value="n">Choose</option>
										<option value="y">Yes(1)</option>
										<option value="y">Yes(2)</option>
										<option value="n">Pending</option>
										<option value="i">Issued(1)</option>
										<option value="i">Issued(2)</option>
										<option value="n">NA</option>
									</select>
								</td>
								<td class="py-4"><input type='date' id='ccrdsd' class="form-control" /></td>
								<td class="py-4"><input type='date' class="form-control" /></td>
								<td class="py-4"><input type="date" id='ccrdsd1' class="form-control"></td>
							</tr>
							<tr>
								<td class="py-4 form-control align-middle font-weight-bold">Domicile Certificate</td>
								<td class="py-4">
									<input type="text" readonly class="form-control-plaintext text-center font-weight-bold" value="NA">
								</td>
								<td class="py-4">
									<select class="form-control" onchange="setDate('dcsd',this.value)">
										<option value="n">Choose</option>
										<option value="y">Yes(1)</option>
										<option value="y">Yes(2)</option>
										<option value="n">Pending</option>
										<option value="i">Issued(1)</option>
										<option value="i">Issued(2)</option>
										<option value="n">NA</option>
									</select>
								</td>
								<td class="py-4"><input type='date' id='dcsd' class="form-control" /></td>
								<td class="py-4"><input type='date' class="form-control" />
								</td><td class="py-4"><input type="date" id='dcsd1' class="form-control"></td>
							</tr>
							<tr>
								<td class="py-4 form-control align-middle font-weight-bold">LEEP Application-cum-Option Form</td>
								<td class="py-4">
									<input type="text" readonly class="form-control-plaintext text-center font-weight-bold" value="NA">
								</td>
								<td class="py-4">
									<select class="form-control" onchange="setDate('lafsd',this.value)">
										<option value="n">Choose</option>
										<option value="y">Yes(1)</option>
										<option value="y">Yes(2)</option>
										<option value="n">Pending</option>
										<option value="i">Issued(1)</option>
										<option value="i">Issued(2)</option>
										<option value="n">NA</option>
									</select>
								</td>
								<td class="py-4"><input type='date' id='lafsd' class="form-control" /></td>
								<td class="py-4"><input type='date' class="form-control" />
								</td><td class="py-4"><input type="date" id='lafsd1' class="form-control"></td>
							</tr>
							<tr>
								<td class="py-4 form-control align-middle font-weight-bold">LEEP Seat Allotment Letter</td>
								<td class="py-4">
									<input type="text" readonly class="form-control-plaintext text-center font-weight-bold" value="NA">
								</td>
								<td class="py-4">
									<select class="form-control" onchange="setDate('lsalsd',this.value)">
										<option value="n">Choose</option>
										<option value="y">Yes(1)</option>
										<option value="y">Yes(2)</option>
										<option value="n">Pending</option>
										<option value="i">Issued(1)</option>
										<option value="i">Issued(2)</option>
										<option value="n">NA</option>
									</select>
								</td>
								<td class="py-4"><input type='date' id='lsalsd' class="form-control" /></td>
								<td class="py-4"><input type='date' class="form-control" />
								</td><td class="py-4"><input type="date" id='lsalsd1' class="form-control"></td>
							</tr>
							<tr>
								<td class="py-4 form-control align-middle font-weight-bold">LEEP Medical Fitness Certificate</td>
								<td class="py-4">
									<select class="form-control" onchange="setDate('lmfcsd',this.value)">
										<option value="n">Choose</option>
										<option value="y">Yes(1)</option>
										<option value="y">Yes(2)</option>
										<option value="n">Pending</option>
										<option value="i">Issued(1)</option>
										<option value="i">Issued(2)</option>
										<option value="n">NA</option>
									</select>
								</td>
								<td class="py-4">
									<select class="form-control" onchange="setDate('lmfcsd',this.value)">
									<option value="n">Choose</option>
										<option value="y">Yes(1)</option>
										<option value="y">Yes(2)</option>
										<option value="n">Pending</option>
										<option value="i">Issued(1)</option>
										<option value="i">Issued(2)</option>
										<option value="n">NA</option>
									</select>
								</td>
								<td class="py-4"><input type='date' id='lmfcsd' class="form-control" /></td>
								<td class="py-4"><input type='date' class="form-control" /></td>
								<td class="py-4"><input type="date" id='lmfcsd1' class="form-control"></td>
							</tr>
							<tr>
								<td class="py-4 form-control align-middle font-weight-bold">LEEP Merit Card</td>
								<td class="py-4">
									<input type="text" readonly class="form-control-plaintext text-center font-weight-bold" value="NA">
								</td>
								<td class="py-4">
									<select class="form-control" onchange="setDate('lmcsd',this.value)">
										<option value="n">Choose</option>
										<option value="y">Yes(1)</option>
										<option value="y">Yes(2)</option>
										<option value="n">Pending</option>
										<option value="i">Issued(1)</option>
										<option value="i">Issued(2)</option>
										<option value="n">NA</option>
									</select>
								</td>
								<td class="py-4"><input type='date' id='lmcsd' class="form-control" /></td>
								<td class="py-4"><input type='date' class="form-control" />
								</td><td class="py-4"><input type="date" id='lmcsd1' class="form-control"></td>
							</tr>
							<tr>
								<td class="py-4 form-control align-middle font-weight-bold">Anti Ragging Affidavit by Student</td>
								<td class="py-4">
									<input type="text" readonly class="form-control-plaintext text-center font-weight-bold" value="NA">
								</td>
								<td class="py-4">
									<select class="form-control" onchange="setDate('arabssd',this.value)">
									
										<option value="n">Choose</option>
										<option value="y">Yes(1)</option>
										<option value="y">Yes(2)</option>
										<option value="n">Pending</option>
										<option value="i">Issued(1)</option>
										<option value="i">Issued(2)</option>
										<option value="n">NA</option>
									</select>
								</td>
								<td class="py-4"><input type='date' id='arabssd' class="form-control" /></td>
								<td class="py-4"><input type='date' class="form-control" />
								</td><td class="py-4"><input type="date" id='arabssd' class="form-control"></td>
							</tr>
							<tr>
								<td class="py-4 form-control align-middle font-weight-bold">Anti Raggin Affidavit by Parent(s)</td>
								<td class="py-4">
									<input type="text" readonly class="form-control-plaintext text-center font-weight-bold" value="NA">
								</td>
								<td class="py-4">
									<select class="form-control" onchange="setDate('arabpsd',this.value)">
										<option value="n">Choose</option>
										<option value="y">Yes(1)</option>
										<option value="y">Yes(2)</option>
										<option value="n">Pending</option>
										<option value="i">Issued(1)</option>
										<option value="i">Issued(2)</option>
										<option value="n">NA</option>
									</select>
								</td>
								<td class="py-4"><input type='date' id='arabpsd' class="form-control" /></td>
								<td class="py-4"><input type='date' class="form-control" />
								</td><td class="py-4"><input type="date" id='arabpsd1' class="form-control"></td>
							</tr>
							<tr>
								<td class="py-4 form-control align-middle font-weight-bold">Passport-size Colored Photographs</td>
								<td class="py-4">
									<select class="form-control" onchange="setDate('pscpsd',this.value)">
										<option value="n">Choose</option>
										<option value="y">Yes(1)</option>
										<option value="y">Yes(2)</option>
										<option value="n">Pending</option>
										<option value="i">Issued(1)</option>
										<option value="i">Issued(2)</option>
										<option value="n">NA</option>
									</select>
								</td>
								<td class="py-4">
									<select class="form-control" onchange="setDate('pscpsd',this.value)">
										<option value="n">Choose</option>
										<option value="y">Yes(1)</option>
										<option value="y">Yes(2)</option>
										<option value="n">Pending</option>
										<option value="i">Issued(1)</option>
										<option value="i">Issued(2)</option>
										<option value="n">NA</option>
									</select>
								</td>
								<td class="py-4"><input type='date' id='pscpsd' class="form-control" /></td>
								<td class="py-4"><input type='date' class="form-control" /></td>
								<td class="py-4"><input type="date" id='pscpsd1' class="form-control"></td>
							</tr>
							<tr>
								<td class="py-4 form-control align-middle font-weight-bold">Income Certificate by Parent(s)</td>
								<td class="py-4">
									<input type="text" readonly class="form-control-plaintext text-center font-weight-bold" value="NA">
								</td>
								<td class="py-4">
									<select class="form-control" onchange="setDate('icbpsd',this.value)">
										<option value="n">Choose</option>
										<option value="y">Yes(1)</option>
										<option value="y">Yes(2)</option>
										<option value="n">Pending</option>
										<option value="i">Issued(1)</option>
										<option value="i">Issued(2)</option>
										<option value="n">NA</option>
									</select>
								</td>
								<td class="py-4"><input type='date' id='icbpsd' class="form-control" /></td>
								<td class="py-4"><input type='date' class="form-control" />
								</td><td class="py-4"><input type="date" id='icbpsd1' class="form-control"></td>
							</tr>
							<tr>
								<td class="py-4 form-control align-middle font-weight-bold">LEEP Upward Seat Allotment Letter</td>
								<td class="py-4">
									<input type="text" readonly class="form-control-plaintext text-center font-weight-bold" value="NA">
								</td>
								<td class="py-4">
									<select class="form-control" onchange="setDate('lusalsd',this.value)">
										<option value="n">Choose</option>
										<option value="y">Yes(1)</option>
										<option value="y">Yes(2)</option>
										<option value="n">Pending</option>
										<option value="i">Issued(1)</option>
										<option value="i">Issued(2)</option>
										<option value="n">NA</option>
									</select>
								</td>
								<td class="py-4"><input type='date' id='lusalsd' class="form-control" /></td>
								<td class="py-4"><input type='date' class="form-control" />
								</td><td class="py-4"><input type="date" id='lusalsd1' class="form-control"></td>
							</tr>
							<tr>
								<td class="py-4 form-control align-middle font-weight-bold">Fee Receipt of earlier College Allotment</td>
								<td class="py-4">
									<select class="form-control" onchange="setDate('froecasd',this.value)">
									<option value="n">Choose</option>
										<option value="y">Yes(1)</option>
										<option value="y">Yes(2)</option>
										<option value="n">Pending</option>
										<option value="i">Issued(1)</option>
										<option value="i">Issued(2)</option>
										<option value="n">NA</option>
									</select>
								</td>
								<td class="py-4">
									<select class="form-control" onchange="setDate('froecasd',this.value)">
										<option value="n">Choose</option>
										<option value="y">Yes(1)</option>
										<option value="y">Yes(2)</option>
										<option value="n">Pending</option>
										<option value="i">Issued(1)</option>
										<option value="i">Issued(2)</option>
										<option value="n">NA</option>
									</select>
								</td>
								<td class="py-4"><input type='date' id='froecasd' class="form-control" /></td>
								<td class="py-4"><input type='date' class="form-control" /></td>
								<td class="py-4"><input type="date" id='froecasd1' class="form-control"></td>
							</tr>
							<tr>
								<td class="py-4 form-control align-middle font-weight-bold">Other</td>
								<td class="py-4">
									<select class="form-control" onchange="setDate('othersd',this.value)">
										<option value="n">Choose</option>
										<option value="y">Yes(1)</option>
										<option value="y">Yes(2)</option>
										<option value="n">Pending</option>
										<option value="i">Issued(1)</option>
										<option value="i">Issued(2)</option>
										<option value="n">NA</option>
									</select>
								</td>
								<td class="py-4">
									<select class="form-control" onchange="setDate('othersd',this.value)">
										<option value="n">Choose</option>
										<option value="y">Yes(1)</option>
										<option value="y">Yes(2)</option>
										<option value="n">Pending</option>
										<option value="i">Issued(1)</option>
										<option value="i">Issued(2)</option>
										<option value="n">NA</option>
									</select>
								</td>
								<td class="py-4"><input type='date' id='othersd' class="form-control" /></td>
								<td class="py-4"><input type='date' class="form-control" /></td>
								<td class="py-4"><input type="date" id='othersd1' class="form-control"></td>
							</tr>
						</tbody>
					</table>
					<button type="submit" class="btn btn-primary w-50 d-block mx-auto" >Submit</button>
				</div>
			</form>
		</div>
	</body>
</html>